 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/blurr.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-image-1 {
  height: 542px;
  width: 426px;
  object-position: 45.65% 50%;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  --radius: 30px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 161px -331px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 542px;
  width: 426px;
  object-position: 52.91% 50%;
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.45);
  --radius: 30px;
  transition-duration: 1s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -362px -95px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: AmsterdamFour_ttf400;
  font-size: 3.75rem;
  transition-duration: 0.5s;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -421px 611px 60px -264px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-image-1 {
    height: 384px;
    width: 306px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 181px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-2 {
    height: 387px;
    width: 312px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -240px;
    margin-right: 158px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -379px;
    margin-right: 495px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -210px;
    margin-right: 414px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-image-1 {
    height: 542px;
    width: 426px;
    margin-top: -80px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-2 {
    margin: 468px auto 60px 0;
  }

  .u-section-1 .u-text-1 {
    width: 185px;
    margin-top: -544px;
    margin-left: auto;
    margin-right: auto;
  }
}

.u-block-0128-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-0128-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0128-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0128-14:not([data-block-selected]):not([data-cell-selected]).u-block-0128-14:not([data-block-selected]):not([data-cell-selected]).u-block-0128-14:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-0128-14:not([data-block-selected]):not([data-cell-selected]).u-block-0128-14:not([data-block-selected]):not([data-cell-selected]).u-block-0128-14:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(-200px) translateY(30px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(-200px) translateY(30px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(150px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(150px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 466px;
}

.u-section-2 .u-text-1 {
  font-family: AmsterdamFour_ttf400;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 436px;
  height: 376px;
  margin: -50px auto 0 -704px;
}

.u-section-2 .u-text-2 {
  font-family: "ADLaM Display";
  margin: -253px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 43px auto 34px;
  padding: 17px 78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -89px;
    margin-left: -352px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -214px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(82, 94, 84, 1), rgba(82, 94, 84, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: AmsterdamFour_ttf400;
  margin: 38px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 720px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/r7.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 50px;
  width: 417px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-family: "Archivo Narrow";
  font-size: 1.875rem;
  margin: 0 43px 0 18px;
}

.u-section-3 .u-image-2 {
  min-height: 368px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Prerender6-min.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 45px;
  width: 417px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-family: "Archivo Narrow";
  margin: 0 auto 0 11px;
}

.u-section-3 .u-image-3 {
  min-height: 352px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/R2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  min-height: 50px;
  width: 417px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-4 {
  font-family: "Archivo Narrow";
  margin: 0 20px;
}

.u-section-3 .u-image-4 {
  width: 654px;
  height: 654px;
  margin: -1197px -800px 0 auto;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 653px;
  height: 630px;
  margin: -206px auto 0 -766px;
}

.u-section-3 .u-image-5 {
  width: 616px;
  height: 591px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(356.25deg);
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  margin: 168px auto 49px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 94px;
  }

  .u-section-3 .u-image-1 {
    min-height: 565px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 429px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 288px;
  }

  .u-section-3 .u-group-2 {
    --radius: 10px;
    margin-top: 150px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 277px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -1163px;
    margin-right: -560px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 351px;
    height: 373px;
    margin-top: -357px;
    margin-left: -175px;
  }

  .u-section-3 .u-image-5 {
    width: 329px;
    height: 353px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 467px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-3 .u-image-1 {
    min-height: 913px;
  }

  .u-section-3 .u-group-1 {
    width: 345px;
  }

  .u-section-3 .u-image-2 {
    min-height: 466px;
  }

  .u-section-3 .u-group-2 {
    width: 345px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 447px;
  }

  .u-section-3 .u-group-3 {
    width: 345px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2296px;
  }

  .u-section-3 .u-image-1 {
    min-height: 685px;
  }

  .u-section-3 .u-image-2 {
    min-height: 350px;
  }

  .u-section-3 .u-image-3 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: -99px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 431px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 220px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 211px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-bottom: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 1460px;
    margin-bottom: 60px;
    margin-left: 70px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-text-1 {
  font-family: AmsterdamFour_ttf400;
  margin: 61px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 29px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 388px;
  grid-gap: 26px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-1 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-2 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-3 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-4 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-5 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 31px 0 30px;
}

.u-section-4 .u-icon-6 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.375rem;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin: -39px 2px 0 56px;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 57px;
}

.u-section-4 .u-image-1 {
  width: 664px;
  height: 350px;
  margin: -793px auto 0 -721px;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 796px;
  height: 780px;
  margin: -581px -813px 60px auto;
}

.u-section-4 .u-image-2 {
  width: 582px;
  height: 614px;
  transform: translateX(-50%) translateY(-50%) rotate(293.7deg);
  transform-origin: center center;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 321px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -854px;
    margin-left: -360px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -520px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.999975000000001px);
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 571px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13px);
    grid-template-columns: repeat(2, calc(50% - 13px));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    margin-top: -662px;
    margin-left: -542px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -689px;
    margin-right: -541px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1974px;
}

.u-section-5 .u-text-1 {
  font-family: AmsterdamFour_ttf400;
  margin: 77px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 623px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-1 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-1 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-2 {
  width: 532px;
}

.u-section-5 .u-over-slide-2 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 79px;
}

.u-section-5 .u-back-image-3 {
  width: 532px;
}

.u-section-5 .u-over-slide-3 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-4 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-4 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-5 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-5 {
  padding: 10px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-6 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-6 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-7 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-7 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-7 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-8 {
  margin-right: 79px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-8 {
  object-position: 24.63% 50%;
}

.u-section-5 .u-over-slide-8 {
  padding: 10px;
}

.u-section-5 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 1252px;
  height: 427px;
  margin: -989px -980px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 295px;
  height: 1227px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(96.27deg);
}

.u-section-5 .u-image-2 {
  width: 681px;
  height: 600px;
  margin: 202px auto 0 -681px;
}

.u-section-5 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 670px;
  height: 665px;
  margin: -1404px auto 0 -747px;
}

.u-section-5 .u-image-3 {
  width: 500px;
  height: 488px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(27.96deg);
}

.u-section-5 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 158px;
  height: 307px;
  margin: 551px -148px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 295px;
  height: 127px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(96.27deg);
}

.u-section-5 .u-text-2 {
  font-family: AmsterdamFour_ttf400;
  margin: -307px auto 0;
}

.u-section-5 .u-group-1 {
  --radius: 20px;
  min-height: 771px;
  height: auto;
  margin-top: 72px;
  margin-bottom: 0;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,1);
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 0 0;
}

.u-section-5 .u-group-elements-1 {
  width: 98px;
  min-height: 26px;
  height: auto;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-shape-1 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 26px;
  height: 26px;
  margin: -26px auto 0 36px;
}

.u-section-5 .u-shape-3 {
  width: 26px;
  height: 26px;
  margin: -26px 0 0 auto;
}

.u-section-5 .u-group-2 {
  --radius: 10px;
  min-height: 717px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 686px;
  width: 1108px;
  margin: 15px auto 0;
}

.u-section-5 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-image-5 {
  width: 649px;
  height: 525px;
  margin: -613px auto 0 -665px;
}

.u-section-5 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 734px;
  height: 769px;
  margin: -1258px -794px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 467px;
  height: 612px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(324.8deg);
}

.u-section-5 .u-btn-1 {
  font-size: 1.25rem;
  font-family: "Archivo Black";
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 613px auto 60px;
  padding: 8px 306px 8px 304px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-back-image-1 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-5 .u-back-image-4 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-5 .u-back-image-5 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-5 .u-back-image-6 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-5 .u-back-image-7 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-5 .u-back-image-8 {
    width: 532px;
  }

  .u-section-5 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: -957px;
    margin-right: -1005px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -166px;
    margin-left: -478px;
  }

  .u-section-5 .u-rotation-parent-2 {
    margin-top: -941px;
    margin-left: -446px;
  }

  .u-section-5 .u-rotation-parent-3 {
    height: 306px;
    margin-top: 545px;
    margin-right: -116px;
  }

  .u-section-5 .u-image-4 {
    width: 294px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -410px;
    margin-left: 174px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 70px;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    --radius: 30px;
    min-height: 796px;
    height: auto;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 16px;
    margin-left: 0;
    width: 940px;
  }

  .u-section-5 .u-custom-html-2 {
    height: auto;
    min-height: 796px;
    width: 900px;
    margin: 16px auto -16px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -985px;
    margin-left: -462px;
  }

  .u-section-5 .u-rotation-parent-4 {
    margin-top: -749px;
    margin-right: -417px;
  }

  .u-section-5 .u-btn-1 {
    --radius: 6px;
    margin-top: 488px;
    margin-bottom: 47px;
    padding-right: 210px;
    padding-left: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-rotation-parent-3 {
    height: 305px;
  }

  .u-section-5 .u-image-4 {
    width: 293px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -409px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-rotation-parent-1 {
    margin-top: -324px;
  }

  .u-section-5 .u-rotation-parent-3 {
    margin-top: 261px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -1961px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: 0;
    margin-right: -1066px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -8px;
    margin-left: -457px;
  }

  .u-section-5 .u-rotation-parent-2 {
    margin-top: -100px;
    margin-left: -516px;
  }

  .u-section-5 .u-rotation-parent-3 {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-right: 830px;
    margin-left: -2178px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -983px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 74px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 511px;
    margin-left: -699px;
  }

  .u-section-5 .u-rotation-parent-4 {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-right: 465px;
    margin-left: -2178px;
  }

  .u-section-5 .u-btn-1 {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -3px;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
} .u-section-6 {
  background-image: none;
  min-height: 55px;
}

.u-section-6 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 199px;
  min-width: 124px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 10px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 60px;
}

.u-section-6 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(65, 118, 250) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(28, 168, 214) !important;
}

.u-section-6 .u-image-1 {
  width: 275px;
  height: 300px;
  margin: -250px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 563px;
  height: 493px;
  margin: -443px calc(((100% - 1140px) / 2)  + -498px) -90px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-social-icons-1 {
    width: 200px;
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -498px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -498px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + -498px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + -498px);
  }
}

.u-section-6 .u-social-icons-1,
.u-section-6 .u-social-icons-1:before,
.u-section-6 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'AmsterdamFour_ttf400';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AmsterdamFour_ttf400.ttf);
}