 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/blurr.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 340px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 491px;
  padding: 0;
}

.u-section-2 .u-group-1 {
  --radius: 20px;
  min-height: 369px;
  height: auto;
  margin-top: -112px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 98px;
  min-height: 26px;
  height: auto;
  margin: 1px auto 0 20px;
}

.u-section-2 .u-shape-1 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 26px;
  height: 26px;
  margin: -26px auto 0 36px;
}

.u-section-2 .u-shape-3 {
  width: 26px;
  height: 26px;
  margin: -26px 0 0 auto;
}

.u-section-2 .u-group-2 {
  --radius: 10px;
  min-height: 314px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 2.25rem;
  margin: 31px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Archivo Narrow";
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 45px 0 0 16px;
}

.u-section-2 .u-image-1 {
  width: 901px;
  height: 530px;
  margin: -297px -945px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 758px;
  height: 401px;
  margin: -490px auto 60px -549px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -443px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -255px;
    margin-right: -764px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -401px;
    margin-bottom: -76px;
    margin-left: -544px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 373px;
    margin-top: 10px;
  }

  .u-section-2 .u-group-2 {
    min-height: 316px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 66px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -315px;
    margin-right: -849px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -615px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2213px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 508px;
  margin: 48px 1013px 0 -374px;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 758px;
  margin: -508px 255px 0 136px;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 708px;
  margin: -250px 1013px 0 -374px;
}

.u-section-3 .u-custom-html-4 {
  height: auto;
  min-height: 208px;
  margin: -1216px 42px 0 895px;
}

.u-section-3 .u-custom-html-5 {
  height: auto;
  min-height: 608px;
  margin: -1px -57px 0 895px;
}

.u-section-3 .u-custom-html-6 {
  height: auto;
  min-height: 808px;
  margin: 1px -396px 0 895px;
}

.u-section-3 .u-custom-html-7 {
  height: auto;
  min-height: 658px;
  margin: -866px 255px 0 482px;
}

.u-section-3 .u-custom-html-8 {
  height: auto;
  min-height: 308px;
  margin: -198px 1013px 0 -374px;
}

.u-section-3 .u-custom-html-9 {
  height: auto;
  min-height: 308px;
  margin: -1028px -396px 0 1207px;
}

.u-section-3 .u-custom-html-10 {
  height: auto;
  min-height: 488px;
  margin: 720px 262px 0 -374px;
}

.u-section-3 .u-custom-html-11 {
  height: auto;
  min-height: 108px;
  margin: -598px 262px 0 482px;
}

.u-section-3 .u-custom-html-12 {
  height: auto;
  min-height: 768px;
  margin: -766px 675px 0 136px;
}

.u-section-3 .u-custom-html-13 {
  height: auto;
  min-height: 280px;
  margin: -1318px -392px 0 1207px;
}

.u-section-3 .u-custom-html-14 {
  height: auto;
  min-height: 208px;
  margin: -496px -396px 0 1112px;
}

.u-section-3 .u-custom-html-15 {
  height: auto;
  min-height: 378px;
  margin: 1426px -392px 0 895px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 62px -414px 49px;
  padding: 10px 958px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3420px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 782px;
    margin-right: 470px;
    margin-left: -31px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -1266px;
    margin-right: -30px;
    margin-left: 221px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 519px;
    margin-right: 470px;
    margin-left: -31px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: -1985px;
    margin-right: 737px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-5 {
    margin-top: 550px;
    margin-right: 155px;
    margin-left: 483px;
  }

  .u-section-3 .u-custom-html-6 {
    margin-top: 13px;
    margin-right: -184px;
    margin-left: 483px;
  }

  .u-section-3 .u-custom-html-7 {
    margin-top: 0;
    margin-right: 54px;
    margin-left: 483px;
  }

  .u-section-3 .u-custom-html-8 {
    margin-top: 378px;
    margin-right: 308px;
    margin-left: 133px;
  }

  .u-section-3 .u-custom-html-9 {
    margin-top: -714px;
    margin-right: 642px;
    margin-left: -31px;
  }

  .u-section-3 .u-custom-html-10 {
    margin-top: 782px;
    margin-right: 92px;
    margin-left: -92px;
  }

  .u-section-3 .u-custom-html-11 {
    margin-top: 910px;
    margin-right: -11px;
    margin-left: 555px;
  }

  .u-section-3 .u-custom-html-12 {
    margin-top: -920px;
    margin-right: 0;
    margin-left: 642px;
  }

  .u-section-3 .u-custom-html-13 {
    min-height: 288px;
    width: 325px;
    margin-top: -252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-14 {
    margin-right: 558px;
    margin-left: -41px;
  }

  .u-section-3 .u-custom-html-15 {
    margin-top: -894px;
    margin-right: -30px;
    margin-left: 333px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 495px;
    padding-left: 493px;
    margin: 944px -50px 7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 33px;
    margin-right: 250px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -508px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 16px;
    margin-right: 247px;
    margin-left: -28px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-right: 517px;
  }

  .u-section-3 .u-custom-html-5 {
    margin-right: 45px;
    margin-left: 373px;
  }

  .u-section-3 .u-custom-html-6 {
    margin-left: 263px;
  }

  .u-section-3 .u-custom-html-7 {
    margin-right: 345px;
    margin-left: -28px;
  }

  .u-section-3 .u-custom-html-8 {
    margin-right: 198px;
    margin-left: 23px;
  }

  .u-section-3 .u-custom-html-9 {
    margin-right: 422px;
  }

  .u-section-3 .u-custom-html-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-11 {
    margin-left: 335px;
  }

  .u-section-3 .u-custom-html-12 {
    margin-left: 422px;
  }

  .u-section-3 .u-custom-html-14 {
    margin-right: 338px;
  }

  .u-section-3 .u-custom-html-15 {
    margin-left: 113px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 43px;
    margin-bottom: 60px;
    padding-right: 385px;
    padding-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: 70px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 67px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-right: 337px;
  }

  .u-section-3 .u-custom-html-5 {
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-3 .u-custom-html-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-7 {
    margin-right: 165px;
  }

  .u-section-3 .u-custom-html-8 {
    margin-right: 41px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-9 {
    margin-right: 242px;
  }

  .u-section-3 .u-custom-html-11 {
    margin-left: 155px;
  }

  .u-section-3 .u-custom-html-12 {
    margin-left: 242px;
  }

  .u-section-3 .u-custom-html-14 {
    margin-right: 158px;
  }

  .u-section-3 .u-custom-html-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-4 {
    margin-right: 137px;
  }

  .u-section-3 .u-custom-html-5 {
    margin-left: 38px;
  }

  .u-section-3 .u-custom-html-7 {
    margin-right: 30px;
    margin-left: -30px;
  }

  .u-section-3 .u-custom-html-8 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-9 {
    margin-right: 42px;
  }

  .u-section-3 .u-custom-html-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-12 {
    margin-left: 42px;
  }

  .u-section-3 .u-custom-html-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 63px;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 194px;
    padding-left: 194px;
  }
}